<schemalist>
  <enum id="mode">
    <value value="0" nick="dock" />
    <value value="1" nick="panel" />
  </enum>

  <enum id="dockPosition">
    <value value="0" nick="left" />
    <value value="1" nick="right" />
    <value value="2" nick="top" />
    <value value="3" nick="bottom" />
  </enum>

  <enum id="dockAlignment">
    <value value="0" nick="fill" />
    <value value="1" nick="start" />
    <value value="2" nick="end" />
    <value value="3" nick="center" />
  </enum>

  <enum id="panelPosition">
    <value value="0" nick="top" />
    <value value="1" nick="bottom" />
  </enum>

  <enum id="showAppsPosition">
    <value value="0" nick="start" />
    <value value="1" nick="end" />
  </enum>

  <enum id="iconAlignment">
    <value value="0" nick="start" />
    <value value="1" nick="end" />
    <value value="2" nick="center" />
  </enum>

  <schema>
    <key name="mode" enum="mode">
      <default>"dock"</default>
      <summary>Set dock mode.</summary>
    </key>

    <key name="dock-position" enum="dockPosition">
      <default>"bottom"</default>
      <summary>Set dock mode position.</summary>
    </key>

    <key name="dock-alignment" enum="dockAlignment">
      <default>"center"</default>
      <summary>Set dock mode alignment.</summary>
    </key>

    <key name="panel-position" enum="panelPosition">
      <default>"bottom"</default>
      <summary>Set panel mode position.</summary>
    </key>

    <key name="show-apps-position" enum="showAppsPosition">
      <default>"start"</default>
      <summary>Set show apps button position.</summary>
    </key>

    <key name="icon-alignment" enum="iconAlignment">
      <default>"start"</default>
      <summary>Set taskbar icons alignment.</summary>
    </key>

    <key name="icon-size" type="i">
      <default>32</default>
      <summary>Set taskbar icons size.</summary>
    </key>
  </schema>
</schemalist>
